.one{
    background-color: rgb(62, 58, 58);
    height: 50%;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    
    
       
}
.one:hover{
    color:rgb(239, 244, 244)

}